@model CmsClientApp.Models.Schedule

@{ ViewData["Title"] = "Create";
    var doclist = ViewBag.doctor;
    var pid = ViewBag.pid; }

@Html.Partial("_Navbarmenu")

<h4>Schedule Appointment</h4>
<hr />

@*To Display the available list of Visiting Hours*@
<div style="float:right;">
    <h3 style="color:crimson"><b>Available Time Slots</b></h3>
    <table border="1" cellpadding="2" cellspacing="2">
        <tr>
            <th>Doctor Name</th>
            <th>Start time</th>
            <th>End time</th>
        </tr>
        @foreach (var item in ViewBag.availablelist)
        {
<tr>
    <td>@item.Firstname</td>
    <td>@item.StartTime</td>
    <td>@item.EndTime</td>
</tr>}
    </table>
</div>

<div class="row">
    <div class="col-md-5">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <select asp-for="PatientId" class="form-control" asp-items="@pid"></select>
                <span asp-validation-for="PatientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specialization" class="control-label"></label>
                <input readonly asp-for="Specialization" class="form-control" value="@(ViewBag.specialization)" />
                <span asp-validation-for="Specialization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorName" class="control-label"></label>
                <select id="doctorname" asp-for="DoctorName" class="form-control" asp-items="@doclist"></select>
                <span asp-validation-for="DoctorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisitDate" class="control-label"></label>
                <input id="visitdate" asp-for="VisitDate" class="form-control" />
                <span asp-validation-for="VisitDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="button" id="btnShowAppointmentTime">Get Appointment Time</button>
            </div>
            <div class="form-group time">
                <span asp-validation-for="AppointmentTime" class="text-danger"></span>
            </div>


        </form>
    </div>
</div>


@section Scripts {

    <script>
        $(document).ready(function () {
            $("#btnShowAppointmentTime").click(function () {
                var Doctorname = $("#doctorname").val();
                var VisitDate = $("#visitdate").val();




                $(".time").load("/ScheduleAppointment/Timeslot", { Doctorname: Doctorname, VisitDate: VisitDate });
            })
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
